:root {
    --main-background: #2e3638;
    --accent-text: skyblue;
    --basic-text: whitesmoke;
}

* {
    box-sizing: border-box;
    color: var(--basic-text);
}

body {
    background-color: var(--main-background);
    display:flex;
    flex-direction:column;
}

header {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

h1 {
    display: flex;
    justify-content: flex-start;
    font-family: Train-One;
    font-size: 36px;
    color: var(--accent-text);
    margin: 15px;
}

nav {
    flex-wrap: wrap;
    display:flex;
    margin:15px;

}

nav a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: 15px;
}

/*Nav bar hover animation*/
nav a:hover {
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px black;
    color: var(--accent-text);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*main landing section*/
#about h2 {
    color: var(--accent-text);
    font-size: 52px;
    position: relative;
    left: 42%;
    top: 225px;
}

p {
    font-family: sans-serif;
    position: relative;
    left: 42%;
    top: 205px;
    width: 30%;
    color: var(--basic-text);
    line-height: 150%;
}
/*picture of me*/
#me {
    width: 15%;
    height: auto;
    position: relative;
    left:25%;
    top:-85px;
    box-shadow: 2px 2px 3px black;
    border-radius: 5px ;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

/*Work heading*/
#work h3 {
    color: var(--accent-text);
    font-size: 48px;
    position: relative;
    left: 25%;
}

/*work cards*/
#big-one {
    width: 50%;
    border: 1px solid white;
    margin: auto;
}

#row1 {
    display: flex; 
}

#study-guide {
    width: 100%;
}

.cards {
    width: 49%;
}

.cards img{
    width: 100%;
}

#row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/*contact section*/
#contact h3 {
    color: var(--accent-text);
    font-size: 48px;
    position: relative;
    left: 25%;
}

#contact ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    width: 50%;
    margin-left: 25%;
}


@media screen and (max-width: 980px) {
    #row1,
    #row2,
    #row3, {
        flex-direction: column;
}
}





/*
.study-guide-card {
    margin-left: 50%;
    flex: 2 0 100%;
    position: relative;
}

.study-guide-card img {
    width: 100%;
    min-width: 500px;
}

.study-guide-card header {
    font-size: 18px;
    font-family: sans-serif;
    position:absolute;
    top: 5%;
    background-color: #2e3638;
    width: 100%;
}

.card1 {
    margin-left: 50%;
    flex: 1 0 0;
    position: relative;
    text-align: left;

}

.card1 img {
    width: 50%;
    min-width: 50%;
}

.card1 header {
    font-size: 18px;
    font-family: sans-serif;
    position:absolute;
    top: 5%;
    background-color: #2e3638;
    width: 100%;
}

.card2 {
    margin-left: 50%;
    flex: 1 0 0;
    position: relative;
    text-align: right;

}

.card2 img {
    width: 50%;
    min-width: 50%;
}

.card2 header {
    font-size: 18px;
    font-family: sans-serif;
    position:absolute;
    top: 5%;
    background-color: #2e3638;
    width: 100%;
}
*/

@font-face {
    font-family: 'Train-One';
    src: url('TrainOne-Regular.ttf');
}