:root {
    --main-background: #2e3638;
    --accent-text: skyblue;
    --basic-text: whitesmoke;
}

* {
    box-sizing: border-box;
    color: var(--basic-text);
}

body {
    background-color: var(--main-background);
    display:flex;
    flex-direction:column;
}

header {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

h1 {
    display: flex;
    justify-content: flex-start;
    font-family: Train-One;
    font-size: 36px;
    color: var(--accent-text);
    margin: 15px;
}

nav {
    flex-wrap: wrap;
    display:flex;
    margin:15px;

}

nav a {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: 15px;
}

/*Nav bar hover animation*/
nav a:hover {
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px black;
    color: var(--accent-text);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*main landing section*/
h2 {
    color: var(--accent-text);
    font-size: 52px;
    position: relative;
    left: 42%;
    top: 225px;
}

p {
    font-family: sans-serif;
    position: relative;
    left: 42%;
    top: 205px;
    width: 30%;
    color: var(--basic-text);
    line-height: 150%;
}
/*picture of me*/
#me {
    width: 15%;
    height: auto;
    position: relative;
    left:25%;
    top:-85px;
    box-shadow: 2px 2px 3px black;
    border-radius: 5px ;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

/*Work heading*/
h3 {
    color: var(--accent-text);
    font-size: 48px;
    position: relative;
    left: 30%;
}

.study-guide-card {
    margin: 20%;
    flex: 2 0 100%;
    text-align: left;
    border-style: none;
    align-items: center;
    justify-content: left;

}

.study-guide-card img {
    width: 100%;
    min-width: 50%;
}

.card {
    flex: 1 0 0;
    margin: 10px;
    text-align: left;

}

@font-face {
    font-family: 'Train-One';
    src: url('TrainOne-Regular.ttf');
}