:root {
    --main-background: #2e3638;
    --accent-text: skyblue;
    --basic-text: whitesmoke;
}

* {
    box-sizing: border-box;
    color: var(--basic-text);
}

body {
    background-color: var(--main-background);
    display:flex;
    flex-direction:column;
}

h1 {
    display: flex;
    justify-content: flex-start;
    font-family: Train-One;
    font-size: 36px;
    color: var(--accent-text);
    margin: 15px;
}

nav a {
    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
    font-size: 18px;
    margin: 15px;
}

h2 {
    color: var(--accent-text);
    font-size: 52px;
    position: relative;
    left: 25%;
}


@font-face {
    font-family: 'Train-One';
    src: url('TrainOne-Regular.ttf');
}